.checkbox {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 1px 0 black;
  display: inline-block;
  height: 1rem;
  margin-right: 0.2cm;
  position: relative;
  width: 1rem;
}
.checked::after {
  content: "✓";
  line-height: 1rem;
  margin-right: 2px;
  position: absolute;
  right: 0;
}
